{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Lieu{% endblock %}
{% block body %}
<h1 class="text-center mt-3">Créer un lieu</h1>
{{ include('lieu/_form.html.twig') }}
{% endblock %}
