<div style="text-align: center;background-color: #ebebeb;border-radius: 10px;width: 25%;height: 600px;margin-left: auto;margin-right: auto;margin-top: 5%;">
    <div style="
    margin-left: 1%;
    border: 2px dashed #3a57af;
    display: inline-block;
    border-radius: 7px;
    margin-top: 2%;
    width: 84%;
    height: 575px;
">
    <h1>Mon Profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}<br>
    <button class="btn" style="border-radius: 6px;
            width: 20%;
            background-color: #3a57af;
            color: #ebebeb;
            border-color: #ebebeb;">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
    </div>

</div>