<div style="text-align: center;background-color: #ebebeb;border-radius: 10px;width: 25%;height: 790px;margin-left: auto;margin-right: auto;margin-top: 1%;">
    <div style="
{#    margin-left: 1%;#}
{#    border: 2px dashed #3a57af;#}
{#    display: inline-block;#}
{#    border-radius: 7px;#}
{#    margin-top: 2%;#}
{#    width: 90%;#}
{#    height: 775px; #}
            padding: 0 10% 0 10%;
">
    <h1>Profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" style="border-radius: 6px;
            width: 20%;
            background-color: #3a57af;
            color: #ebebeb;
            border-color: #ebebeb;">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
   </div>

</div>