{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div style="text-align: center">
        <h1> Nouveau participant <i class="fa-solid fa-user-plus"></i></h1>
    </div>


    {{ include('participant/_form.html.twig') }}
{% endblock %}
