<form id="form_campus_{{ campus.id }}" method="post" action="{{ path('app_campus_edit', {'id': campus.id}) }}">
    <input type="hidden" name="_token_update" value="{{ csrf_token('edit' ~ campus.id) }}">
    <a href="javascript:void(0)" onclick="document.getElementById('form_campus_{{ campus.id }}').submit();"><i class="fa-solid fa-pen-to-square"></i></a>
</form>
