{% extends 'base.html.twig' %}
{% block title %}Campus{% endblock %}
{% block body %}
<h1 class="text-center mt-3">Gérer les campus</h1>
<div class="container mt-5">
    {% if campuses|length > 0 %}
        <div class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th class="text-start">Campus</th>
                        <th class="text-center" style="max-width: 25px;">Modifier</th>
                    </tr>
                </thead>
                <tbody>
                {% for campus in campuses %}
                    <tr>
                        <td class="text-start">{{ campus.nom }}</td>
                        <td class="text-center">
                            {{ include('campus/edit.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun campus dans la base de données.</p>
    {% endif %}
    <div class="mt-5">
        {{ include('campus/new.html.twig') }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).on('click', '#modifier_campus', function (e){
        afficherModifierCampus(e);
    })
    function afficherModifierCampus(e) {
        e.preventDefault();
        console.log('modifier');
    }
</script>
{% endblock %}
