{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div style="
    background-color: #ebebeb;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 35%;
    margin-top: 8%;
    height: 325px;
    width: 30%;
">
        <div style="
        border: 2px dashed #3a57af;
        border-radius: 7px;
        width: 91%;
        margin-top: 3%;
        margin-left: 4%;
        height: 290px;
        ">
            <h1>Reset your password</h1>

            {{ form_start(requestForm) }}<br>

            {{ form_row(requestForm.email) }}
            <div><br>
                <small>
                    Enter your email address and we will send you a
                    link to reset your password.
                </small>
            </div><br><br>

            <button style="border-radius: 6px;
                width: 20%;
                background-color: #3a57af;
                color: #ebebeb;
                border-color: #ebebeb;width: auto;">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
