
<form style="display: inline" method="post" action="{{ path('app_sortie_cancel', {'id': sortie.id}) }}" onsubmit="return annulation()">
    <input type="hidden" name="motif" id="motif">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ sortie.id) }}">
    <button class="btn btn-danger" title="Annuler"><i class="fa-solid fa-close"></i></button>
</form>
<script>
    function annulation() {
        let motif = prompt('Merci de renseigner le motif de l\'annulation');
        document.getElementById("motif").value = motif;
        return motif != null
    }
</script>