<form method="post" action="{{ path('app_sortie_cancel', {'id': sortie.id}) }}" onsubmit="return confirm('Confirmez-vous l\'annulation de la sortie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ sortie.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-close"></i></button>
</form>
