<form style="display: inline"  method="post" action="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ sortie.id) }}">
    <button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
</form>
