<form style="display: inline" method="post" action="{{ path('app_sortie_out', {'id': sortie.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('out' ~ sortie.id) }}">
    <button class="btn btn-outline-primary" title="Se désister"><i class="fa-solid fa-sign-out"></i></button>
</form>
