<form style="display: inline" method="get" action="{{ path('app_sortie_show', {'id': sortie.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('show' ~ sortie.id) }}">
    <button class="btn btn-info" title="Afficher"><i class="fa-solid fa-eye"></i></button>
</form>
