{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {# Mettre dans un fichier sous public/js une fois terminé #}
    <script type="text/javascript">
        (function (){
            let minutes = document.createElement('span');
            minutes.innerHTML = 'minutes';
            document.getElementById('sortie_duree').after(minutes);

            document.getElementById('sortie_ville').addEventListener('change', function (event){
                afficherInfosVille(event);
            });
            document.getElementById('sortie_lieu').addEventListener('change', function (event){
                console.log(event);
                afficherInfosLieu(event);
            });
        })();

        function afficherInfosVille(event) {
            console.log(event.target.value);
            //let elemCodePostal = document.getElementById('sortie_codePostal');
        }

        function afficherInfosLieu(event) {
            console.log(event.target.value);
            //let elemRue = document.getElementById('sortie_rue');
            //let elemLatitude = document.getElementById('sortie_latitude');
            //let elemLongitude = document.getElementById('sortie_longitude');
        }
    </script>
{% endblock %}
