<form id="form_ville" method="post" action="{{ path('app_ville_edit', {'id': ville.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ ville.id) }}">
    <a href="#" onclick="document.getElementById('form_ville').submit();"><i class="fa-solid fa-pen-to-square"></i></a>
</form>
